#app {
  width: 350px;
  margin: auto;
}

#app h1 {
  text-align: center;
}

#app #description {
  text-align: center;
}

#app input[type='text'] {
  display: block;
  margin: auto;
  width: 350px;
}

#app #persons {
  width: 350px;
  display: block;
  margin: auto;
  padding-left: 0;
}

#app #persons li {
  background-color: #ccc;
  display: block;
  list-style: none;
  padding: 10px 0 10px 3px;
  border: 2px solid #333;
  border-top: 0;
}

#app #persons li:first-child {
  border-top: 2px solid #333;
}

#app #persons li .delete {
  float: right;
  margin-right: 5px;
  text-decoration: none;
  color: red;
}
